html,
body {
  margin: 0;
  background-color: rgb(210, 222, 226);
}

a,
a:link,
a:visited {
  text-decoration: none;
}

.active {
  animation: showActive 0.2s ease-in forwards;
}

@keyframes showActive {
  from {
    border-bottom: none;
    opacity: 0;
  }
  to {
    border-bottom: 2px solid yellow;
    opacity: 1;
  }
}
